.App {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  background-color:#282c34;
}
h1{
  color: rgb(20, 133, 89);
}
h2{
  color: rgb(20, 133, 89);
}
/* .nav-bar {
  background-color:  #1d490c;
  color: rgb(221, 202, 202);
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  flex-grow: 1;
  text-align: center;
  padding: 25px;
}
footer {
  padding: 2px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: small;
  text-align: center;
}
header {
  padding: 25px;
}
.nav-bar {
  background-color:rgb(40, 78, 72);
  padding: 15px;
}
.nav-bar a {
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  color:  rgb(221, 202, 202);
}
.nav-bar a:hover {
  background-color:rgb(53, 38, 38);
  color: white;
}


.content {
  padding-left: 30px;
}
.content p{
  color: rgb(93, 182, 148);
}

.nav-bar {
  background-color:rgb(40, 78, 72);
  padding: 15px;
}
.trailLink {
  padding: 2px;
  text-decoration: none;
  font-weight: bold;
  color:  rgb(221, 202, 202);
}
.trailLink:hover {
  background-color:rgb(40, 78, 72);
  color: white;
}

.scrollingBox {
  background-color: rgba(0,0,0,0.5) !important;
  border-radius: 10px;
  color: #949494;
  display: block;
  width: 465px;
  height: 425px;
  padding: 1em;
  overflow-y: scroll;
  text-align: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
}